# Aditya Chauhan

# 180410107018

Create File with two columns X1 and Y1.

In [5]:
import pandas as pd
File = pd.DataFrame(columns=["X1","Y1"])
File

Empty DataFrame
Columns: [X1, Y1]
Index: []

Generate 20 rows with random data for values of X1 and Y1.

In [18]:
import random 
File["X1"]=[random.randint(0,10) for i in range(20)]
File["Y1"]=[random.randint(0,10) for i in range(20)]
File

    X1  Y1
0    5   5
1    2   2
2    4   1
3    1   7
4    2   5
5    0   0
6    9   7
7    7   0
8   10  10
9    3   7
10   0   5
11   8   4
12   7   8
13   2   9
14   5   9
15   7   8
16   8   1
17  10   4
18   5   4
19   9   1

Demonstrate concept of streaming and sampling using above generated file.

Fetch every even record from file and Fetch any 5 random records from file to demonstrate
sampling.